:root {
  --white : #fff;
  --softlilac: #f2e9e4;
  --mediumlilac: #c9ada7;
  --purple: #9e0059;
  --mediumblue: #4a4e69;
  --darkblue: #22223b;
}

html {
  font-family: 'Raleway', sans-serif;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  width: 1136px;
  height: 88px;
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0 150px;
  gap: 10px;
}

.logo > span {
  font-weight: bold;
  letter-spacing: 2px;
  color: var(--darkblue);
}

.menu {
  display: flex;
  align-items: center;
  gap: 15px;
  line-height: 19px;
  list-style-type: none;
}

.menu__item > a {
  text-decoration: none;
  color: var(--darkblue);
}

.menu__item > a:hover {
  transition: all 500ms ease-in-out;
  color: var(--purple);
  font-weight: bold;
}

.menu__item:nth-child(1) {
  order: 0;
}

.menu__item:nth-child(2) {
  order: 1;
}

.menu__item:nth-child(3) {
  order: 2;
}

.menu__item:nth-child(4) {
  order: 3;
}

.menu__item:nth-child(5) {
  order: 4;
}

.menu__item:nth-child(6) {
  order: 5;
  font-weight: bold;
}

.apresentacao {
  display: grid;
  grid-template-areas: 
  "apresentacao__titulo apresentacao__banner"
  "apresentacao__titulo apresentacao__banner" 
  "apresentacao__lista apresentacao__banner"
  ;
  place-items: center;
  place-content: center;
  grid-template-columns: 751px 300px;
  grid-template-rows: repeat(2, 122px) 90px;
  width: 1136px;
  height: 368px;
  margin: 0 auto;
}

.apresentacao__titulo {
  grid-area: apresentacao__titulo;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 700px;
  height: 122px;
}

.apresentacao__titulo__h1 {
  font-size: 40px;
  line-height: 50px;
  color: var(--darkblue);
}

.apresentacao__titulo__h2 {
  font-size: 19px;
  line-height: 30px;
  color: var(--mediumblue);
}

.apresentacao__lista {
  grid-area: apresentacao__lista;
  display: flex;
  justify-self: flex-start;
  margin-left: 29px;
  height: 24px;
  gap: 20px;
  color: var(--darkblue);
}

.apresentacao__item > a > img {
  margin-left: 10px;
  color: var(--darkblue);
}

.apresentacao__item > a > img:hover {
  transform: scale(1.1);
  transition: all 300ms ease-in-out;
  filter: drop-shadow(2px 2px 3px var(--mediumblue));
}

.apresentacao__banner {
  grid-area: apresentacao__banner;
  align-self: stretch;
  padding: 0;
  width: 230px;
  height: 300px;
}

.sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0;
  gap: 10px;
  width: 1440px;
  height: 259px;
  background-color: var(--softlilac);
}

.sobre__mim {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 1136px;
  height: 255px;
}

.sobre__mim__h3 {
  width: 166px;
  height: 38px;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: var(--darkblue);
}

.sobre__mim__p { 
  width: 751px;
  height: 133px;
  font-size: 16px;
  line-height: 30px;
  text-align: justify;
}

.footer {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  background-color: var(--white);
  color: var(--darkblue);
}

@media (min-width: 720px) and (max-width: 923px) {
  .navbar {
    width: 768px;
    height: 56px;
  }
  .menu__item:nth-child(1) {
    display: none;
  }
  
  .menu__item:nth-child(2) {
    display: none;
  }
  
  .menu__item:nth-child(3) {
    display: none;
  }
  
  .menu__item:nth-child(4) {
    display: none;
  }
  
  .menu__item:nth-child(5) {
    display: none;
  }
  
  .menu__item:nth-child(6) {
    order: 1;
    font-weight: bold;
  }

  .apresentacao {
    grid-template-columns: 500px 200px;
    grid-template-rows: repeat(2, 80px) 30px;
    width: 768px;
    height: 210px;
    padding: 0 80px;
  }

  .apresentacao__titulo {
    width: 424px;
    height: 130px;
  }

  .apresentacao__titulo__h1 {
    font-size: 22px;
    line-height: 26px;
  }

  .apresentacao__titulo__h2 {
      font-size: 16px;
      line-height: 19px;
  }

  .apresentacao__banner {
    width: 146px;
    height: 180px;
  }

  .apresentacao__lista {
    margin-left: 36px;
  }

  .sobre {
    height: 200px;
  }

  .sobre__mim {
    padding: 0 80px;
    height: 180px;
  }

  .sobre__mim__h3 {
    font-size: 22px;
    line-height: 26px;
  }

  .sobre__mim__p {
    width: 500px;
    height: 112px;
    font-size: 14px;
    line-height: 20px;
  }
}